{% extends 'base_reg_auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="d-flex flex-center flex-column-fluid pb-1 pb-lg-3 pt-3">Entrance</h1>
    <div class="d-flex flex-center flex-column-fluid pb-15 pb-lg-20">
        <form method="post" style="width: 20%;">
            <div class="d-grid mb-1">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" id="edit_btn" class="btn btn-primary">
                    <span class="indicator-label">Login</span>
                    <span class="indicator-progress">Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                </button>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}
